.byebug_history
.env.development
tmp
log
public/uploads
public/carrierwave
public/shambala-podcast
public/*
images
*.dump*
*.sql
.env
.rvmrc
.nvmrc
.DS_Store
vendor
dump.rdb
/config/credentials/production.key

/config/credentials/development.key
